body {
    height: 100%;
    background-color: #F9F9F9 !important;
}

html {
    height: 100%;
}

nav {
    background-color: #262626;
    height: 13%;

    padding-left: 10%;
    padding-right: 10%;
}

.logo {
    height: 80%;
    margin-top: 7.5%;
    margin-bottom: 7.5%;
}

.brand-logo {
    height: 100%;
}

#big-hero {
    height: 100%;
}

.hero-text {
    width: 100%;
}

#video-background {
    filter: blur(10px);
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}
